@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import "offline-theme-default-indicator.css";
@import "offline-language-spanish-indicator.css";
body {
  background-color: #216e7e;
  font-family: 'Gotu', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
h2,
h3 {
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  margin: 15px 0;
}
h2 {
  font-size: 2.5em;
  color: white;
}
h3 {
  font-size: 1em;
  color: #0D181C;
}
footer {
  position: absolute;
  bottom: 1em;
  width: 99%;
  text-align: center;
  margin: 0 auto;
}
footer span {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  color: white;
}
.button-left {
  background-color: #F9B122;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  border: none;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  transition-duration: 500ms;
  color: black;
  float: left;
  border-radius: 10px;
  cursor: pointer;
}
.button-right {
  background-color: #F9B122;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  border: none;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);
  transition-duration: 500ms;
  color: black;
  float: right;
  border-radius: 10px;
  cursor: pointer;
}
.primary-button {
  background-color: #F9B122;
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px 15px;
  margin: 15px auto;
  border: none;
  box-shadow: 7px 7px 0px -1px rgba(0,0,0,0.75);
  transition-duration: 500ms;
  color: black;
  float: none;
  border-radius: 10px;
  cursor: pointer;
}
.primary-button:hover,
.button-right:hover,
.button-left:hover {
  transform: translate(3px,3px);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition-duration: 500ms;
}
.button {
  background-color: #F9B122;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  border: none;
  box-shadow: none;
  transition-duration: 500ms;
  color: black;
  float: none;
  border-radius: 10px;
  cursor: pointer;
}
.main-buttons {
  margin-top: 70px;
}
.orders-container {
  padding: 0 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 480px;
}
.order {
  background-color: #e6e6e6;
  color: black;
  padding: 0 10px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px 10% 10%;
  user-select: none;
  min-width: 250px;
}
.icecream {
  display: inline-block;
  border-right: 2px dashed #0D181C;
  padding: 0 10px;
}
.icecream-container {
  display: flex;
  justify-content: space-around;
}
.icecream-container .icecream:last-child {
  border-right: none;
}
.not-ready {
  border-top: 6px solid #dc143c;
}
.ready {
  border-top: 6px solid #0A286E;
}
.adult:before {
  border-radius: 100% 10px 100% 100%;
  padding: 7px;
  content: "+18";
  font-weight: bold;
  font-size: 1em;
  background-color: black;
  color: white;
  text-align: center;
  float: right;
  margin: -6px -10px 0 0;
}
.order h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0;
  word-wrap: unset;
  text-decoration: underline;
}
.order-id {
  margin-top: -20px;
  font-size: 0.8em;
}
.order-topping,
.order-flavors,
.order-syrup,
.order-container {
  margin: 0 0 5px 0;
  font-size: 1em;
  font-weight: bold;
}
.order-container {
  font-weight: bold;
}
.orders-buttons {
  display: flex;
  width: 100%;
  margin: 20px auto -15px auto;
  justify-content: space-around;
}
.guide-colors-container {
  display: block;
  position: fixed;
  top: 1px;
  left: 100px;
}
#guide-color-ready,
#guide-color-not-ready {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}
#guide-color-not-ready {
  background-color: #dc143c;
}
#guide-color-ready {
  background-color: #0A286E;
}
.logo-img {
  margin: 0 auto;
  display: block;
}
.about-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #C9F1F8;
  width: fit-content;
  margin: 0 auto -39px auto;
}
.about-description-container {
  display: flex;
  justify-content: space-around;
}
.about-description {
  font-size: 1em;
  font-weight: bold;
  background-color: #A6E3EE;
  border-radius: 10px;
  padding: 10px;
  color: #216e7e;
  width: fit-content;
  text-align: center;
}
.about-description a {
  color: #216e7e;
  text-decoration: underline;
}
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Gotu', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #e6e6e6;
  font-size: 1em;
}
.tab button:hover {
  background-color: #115967;
}
.tab button.active {
  background-color: #02434F;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
