/**
 * Import font and other CSS
 */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import "offline-theme-default-indicator.css";
@import "offline-language-spanish-indicator.css";

/**
 * body css
 */
body {
    background-color: #216e7e;
    font-family: 'Gotu', 'Helvetica Neue', sans-serif;
    padding-top: 55px;
}

a {
    text-decoration: none;
}

h2,
h3 {
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    margin: 15px 0;
}

h2 {
    font-size: 1.5em;
    color: white;
}

h3 {
    font-size: 1em;
    color: #0D181C;
}

footer {
    padding: 10px 0;
}

/**
 * Buttons CSS
 */
.button {
    background-color: #F9B122;
    font-size: 1em;
    display: inline-block;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    border: none;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 500ms;
    color: black !important;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.75);
    transition-duration: 500ms;
    color: black;
    text-decoration: none;
}

/**
 * Orders CSS
 */
.orders-container {
    display: block !important;
    background-color: #0D181C;
    overflow-x: scroll;
    height: fit-content;
    padding: 10px;
    white-space: nowrap;
}

.orders-container .class {
    display: inline-block;
}

.guide-color {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

/**
 * About Us CSS
 */
.logo-img {
    margin: 0 auto;
    display: block;
}

.about-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    color: #C9F1F8;
    width: fit-content;
}

.about-description-container {
    display: flex;
    justify-content: space-around;
}

.about-description {
    font-size: 1em;
    font-weight: bold;
    background-color: #A6E3EE;
    border-radius: 10px;
    padding: 10px;
    color: #216e7e;
    width: fit-content;
    text-align: center;
}

.about-description a {
    color: #216e7e;
    text-decoration: underline;
}

/**
 * Tab CSS
 */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Gotu', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #e6e6e6;
    font-size: 1em;
}

.tab button:hover {
    background-color: #115967;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #02434F;
}

.nav-pills .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    height: 400px;
    overflow: scroll;
}

/**
 * Login Google Button CSS
 */
.google-login {
    display: block;
    margin: 200px auto 0 auto;
    width: fit-content;
}

.google-login img {
    border-radius: 10px;
}

/**
 * Upper right profile
 */
#user-profile {
    padding: 0 10px 0 0;
}

#user-profile img {
    display: inline-block;
    border-radius: 4px;
}

#user-profile #user-profile-name {
    display: inline-block;
    margin: 0 10px 0 10px;
}

/**
 * Error box
 */
#error {
    display: block;
    background-color: #e81a3f;
    color: #0D181C;
    max-width: 300px;
    margin: 50px auto 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

#error #error-title {
    color: #0D181C;
    font-size: 1.5em;
}

#error #error-message {
    text-align: center;
}

/**
 * Orders container
 */
.ingredient-container {
    background-color: #F9B122;
    width: 250px;
    color: #0D181C;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 5px;
}

.ingredients-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#float-left-button,
#add-ingredient-button {
    margin-top: 15px;
}

#sabores {
    overflow-x: hidden;
}

/**
 * Scroll bar CSS
 */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-top: 3px solid #0D181C;
    border-bottom: 3px solid #0D181C;
    background-color: #F9B122;
}

/**
 * Accounts CSS
 */
.accounts-table {
    background-color: #F9B122;
    margin: 0 auto;
    color: #0D181C;
    border-radius: 5px;
}

.accounts-table .title {
    padding: 5px;
    color: #0D181C;
    font-weight: bold;
    font-size: 1em;
}

.accounts-table a {
    color: black;
    text-decoration: underline;
}

/**
 * Default card CSS
 */
.card {
    display: inline-block;
}
.card a {
    color: inherit;
}

/**
 * Default list group item CSS
 */
.list-group-item {
    background-color: transparent;
}

/**
 * Default carousel CSS
 */
.carousel-inner {
    padding-bottom: 30px;
}

/**
 * Default Alert CSS
 */
.alert {
    display: none;
}

/**
 * Modals list
 */
#iceCream_flavorsList,
#iceCream_fillingList,
#iceCream_toppingList,
#iceCream_containerList
 {
    max-height: 260px;
    overflow-y: scroll;
}

#prices-form {
    padding: 20px;
    border-radius: 10px;
    background-color: #0D181C;
    line-height: 3;
}

.input-amount {
    width: 50px;
    line-height: normal;
}

.input-money {
    width: 80px;
    line-height: normal;
}

#audit-list {
    height: 500px;
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
}

.chart-container {
    background-color: #FFFFFF;
}