/**
 * Enrrolato - Back Office - LESS
 * Autor: BranDaniMB
 * Actualizado por última vez el 29/04/2020
 *
 * Las modificaciones deben hacerse en este archivo Less, el compilador incluido creará el archivo CSS correspondiente.
 *
 * Para documentación utilizar este mismo formato de comentarios.
 */

/**
 * Importes de Fonts y otros CSS incluidos, incluir aquí abajo todos los importes.
 */
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import "offline-theme-default-indicator.css";
@import "offline-language-spanish-indicator.css";

/**
 * Paleta principal de colores y fuentes
 */
@backgroud: #216e7e;
@orange: #F9B122;
@black: #0D181C;
@primaryFont: 'Gotu' ,'Helvetica Neue', sans-serif;

/**
 * Variables - Color de estado de orden
 */
@not-ready: #e81a3f;
@ready: #0A286E;

/**
 * Estilos globales
 */
body {
  background-color: @backgroud;
  font-family: @primaryFont;
}

a {
  text-decoration: none;
}

h2, h3 {
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  margin: 15px 0;
}

h2 {
  font-size: 2.5em;
  color: white;
}

h3 {
  font-size: 1em;
  color: @black;
}

/**
 * Footer
 */
footer {
  position: absolute;
  bottom: 1em;
  width: 99%;
  text-align: center;
  margin: 0 auto;
}

footer span {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
  color: white;
}

.button-left {
  .button(@float: left, @box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75));
}

.button-right {
  .button(@float: right, @box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75))
}

/**
 * Estilos de los botones
 */

.primary-button {
  .button(@padding:  10px 15px, @fontSize: 1.5em, @display: block, @margin: 15px auto, @box-shadow: 7px 7px 0px -1px rgba(0,0,0,0.75));
}

.primary-button:hover, .button-right:hover, .button-left:hover {
  transform: translate(3px, 3px);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition-duration: 500ms;
}

.button (@float: none, @padding: 10px, @fontSize: 1em, @display: inline-block, @border: none, @margin: 0 5px, @box-shadow: none) {
  background-color: @orange;
  font-size: @fontSize;
  display: @display;
  font-weight: bold;
  width: fit-content;
  text-align: center;
  padding: @padding;
  margin: @margin;
  border: @border;
  box-shadow: @box-shadow;
  transition-duration: 500ms;
  color: black;
  float: @float;
  border-radius: 10px;
  cursor: pointer;
}

.button {
  .button();
}

/**
 * Página: Inicio
 */

.main-buttons {
  margin-top: 70px;
}

/**
 * Página: Ordenes actuales
 */

.orders-container {
  padding: 0 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 480px;
}

.order {
  background-color: #e6e6e6;
  color: black;
  padding: 0 10px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px 10% 10%;
  user-select: none;
  min-width: 250px;
}

.icecream {
  display: inline-block;
  border-right: 2px dashed @black;
  padding: 0 10px;
}

.icecream-container {
  display: flex;
  justify-content: space-around;
}

.icecream-container .icecream:last-child {
  border-right: none;
}

.not-ready {
  border-top: 6px solid @not-ready;
}

.ready {
  border-top: 6px solid @ready;
}

/* Utiliza un pseudo-class para generar un viñeta con anunciando el contenido para mayores */
.adult:before {
  border-radius: 100% 10px 100% 100%;
  padding: 7px;
  content: "+18";
  font-weight: bold;
  font-size: 1em;
  background-color: black;
  color: white;
  text-align: center;
  float: right;
  margin: -6px -10px 0 0;
}

.order h4 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px 0;
  word-wrap: unset;
  text-decoration: underline;
}

.order-id {
  margin-top: -20px;
  font-size: 0.8em;
}

.order-topping, .order-flavors, .order-syrup, .order-container {
  margin: 0 0 5px 0;
  font-size: 1em;
  font-weight: bold;
}

.order-container {
  font-weight: bold;
}

.orders-buttons {
  display: flex;
  width: 100%;
  margin: 20px auto -15px auto;
  justify-content: space-around;
}

/* Guía de colores superior */
.guide-colors-container {
  display: block;
  position: fixed;
  top: 1px;
  left: 100px;
}

#guide-color-ready, #guide-color-not-ready {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#guide-color-not-ready {
  background-color: @not-ready;
}

#guide-color-ready {
  background-color: @ready;
}

/**
 * Página: Sobre de
 */
.logo-img {
  margin: 0 auto;
  display: block;
}

.about-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #C9F1F8;
  width: fit-content;
  margin: 0 auto -39px auto;
}

.about-description-container {
  display: flex;
  justify-content: space-around;
}

.about-description {
  font-size: 1em;
  font-weight: bold;
  background-color: #A6E3EE;
  border-radius: 10px;
  padding: 10px;
  color: @backgroud;
  width: fit-content;
  text-align: center;
}

.about-description a {
  color: @backgroud;
  text-decoration: underline;
}

/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Gotu', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: #e6e6e6;
  font-size: 1em;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #115967;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #02434F;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/**
 * Página: Inicio de sesión
 */
.google-login {
  display: block;
  margin: 200px auto 0 auto;
  width: fit-content;
}

.google-login img {
  border-radius: 10px;
}

/**
 * Div Usuario
 */
#user-profile {
  position: fixed;
  top: 1em;
  right: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  padding: 3px;
  border-radius: 50px 20px 20px 50px;
  background-color: #02434F;
  font-weight: bold;
  color: #e6e6e6;
  text-transform: capitalize;
}

#user-profile img {
  border-radius: 100px;
  overflow: hidden;
  border: 2px solid #e6e6e6;
}

#user-profile #user-profile-name {
  margin: 0 5px 0 15px;
}

#user-profile-logout {
  display: none;
  color: @black;
  padding: 12px 10px;
  border-radius: 10px;
  background-color: @orange;
  margin: 0 1px 0 10px;
}

#user-profile:hover > a {
  width: fit-content;
  display: inline-block;
}

/**
 * Error box
 */
#error {
  display: block;
  background-color: @not-ready;
  color: @black;
  max-width: 300px;
  margin: 50px auto 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 7px 0px -1px rgba(0,0,0,0.75);
  font-weight: bold;
}

#error #error-title {
  color: @black;
  font-size: 1.5em;
}

#error #error-message {
  text-align: center;
}